.header-top{
    background-color: var( --black-primary);
    height: 8rem;
    &-logo{
        h3{
            color:white;
            margin-left: 1.2rem;
            font-size: 2.4rem;
            font-weight: 600;
        }
    }
    .upto{
        color: white;

        &-title{
            font-size: 1.4rem;
            font-weight: 500;
        }
        &-percent{
            color: var(--yellow-primary);
            font-size: 40px;
            font-weight: 600;
            margin: 0 .8rem;
        }
        &-off{
            font-size: 2rem;
        }
    }
    .btn.shop-now{
        color: var(--black-primary) !important;
        background-color: var(--yellow-primary) !important;
    }
}

.header-contact{
    padding: 1.6rem 0;
    background-color: var(--blue-primary);
    border-bottom: .1rem solid var(--gray-primary);
    &-title{
        font-size: 1.4rem;
        font-weight: 400;
        color:#fff;
    }
}
.line{
    min-height: 2.8rem;
    width: .1rem;
    background-color: #fff;
    margin: 0 2.4rem;
}
.social-icon{
    cursor: pointer;
}
.language,
.currency{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    cursor: pointer;
}
.header-bottom{
    padding: 1.6rem 0;
    background-color: var(--blue-primary);
    &-search{
        min-width: 60.6rem;
        background-color: #fff;
        padding: 1.4rem 2rem;
        input{
           
            border:none;;
            outline: none;
        }
    }
    &-action{
        display: flex;
        align-items: center;
        .icon{
            width: 2rem;
            height: 2rem;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .quantity {
        width: 2rem;
        height: 2rem;
        border-radius: 10rem;
        background-color: #fff;
        top: -1rem;
        right: -1rem;
        color:var(--blue-primary)

    }
}
