.header-top {
  background-color: var(--black-primary);
  height: 8rem;
}
.header-top-logo h3 {
  color: white;
  margin-left: 1.2rem;
  font-size: 2.4rem;
  font-weight: 600;
}
.header-top .upto {
  color: white;
}
.header-top .upto-title {
  font-size: 1.4rem;
  font-weight: 500;
}
.header-top .upto-percent {
  color: var(--yellow-primary);
  font-size: 40px;
  font-weight: 600;
  margin: 0 0.8rem;
}
.header-top .upto-off {
  font-size: 2rem;
}
.header-top .btn.shop-now {
  color: var(--black-primary) !important;
  background-color: var(--yellow-primary) !important;
}

.header-contact {
  padding: 1.6rem 0;
  background-color: var(--blue-primary);
  border-bottom: 0.1rem solid var(--gray-primary);
}
.header-contact-title {
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
}

.line {
  min-height: 2.8rem;
  width: 0.1rem;
  background-color: #fff;
  margin: 0 2.4rem;
}

.social-icon {
  cursor: pointer;
}

.language,
.currency {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  cursor: pointer;
}

.header-bottom {
  padding: 1.6rem 0;
  background-color: var(--blue-primary);
}
.header-bottom-search {
  min-width: 60.6rem;
  background-color: #fff;
  padding: 1.4rem 2rem;
}
.header-bottom-search input {
  border: none;
  outline: none;
}
.header-bottom-action {
  display: flex;
  align-items: center;
}
.header-bottom-action .icon {
  width: 2rem;
  height: 2rem;
}
.header-bottom-action .icon img {
  width: 100%;
  height: 100%;
}
.header-bottom .quantity {
  width: 2rem;
  height: 2rem;
  border-radius: 10rem;
  background-color: #fff;
  top: -1rem;
  right: -1rem;
  color: var(--blue-primary);
}

.categories {
  padding: 1.6rem;
  border-bottom: 0.1rem solid var(--gray-primary);
}
.categories-item {
  margin-right: 2.4rem;
  cursor: pointer;
  grid-gap: 2.4rem;
}
.categories-item.active {
  background-color: #e5e6e7;
  padding: 1.4rem 2.4rem;
}

.banner {
  padding: 2.4rem;
}
.banner .container {
  display: flex;
}
.banner .b-left {
  min-height: 52rem;
  width: 70%;
}
.banner-intro {
  max-width: 35.6rem;
}
.banner-image img {
  max-width: 30.6rem;
  max-height: 40.8rem;
  object-fit: cover;
}
.banner-tt {
  color: var(--blue-primary);
  font-weight: 600;
  line-height: 2rem;
}
.banner-list {
  width: 100%;
  height: 100%;
  background: #e5e6e7;
  padding: 0 5.6rem;
}
.banner-name {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 5.6rem;
}
.banner-ct {
  font-size: 18px;
  font-weight: 400;
  line-height: 2.4rem;
  color: #475156;
  margin-bottom: 2.4rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
.banner-sale {
  width: 10rem;
  height: 10rem;
  background-color: var(--blue-primary);
  border: 0.2rem solid #fff;
  border-radius: 10rem;
  top: 5.6rem;
  right: 5.4rem;
  color: white;
  font-weight: 600;
  font-size: 2.2rem;
}
.banner .shop-now span {
  color: white !important;
  margin-right: 0.8rem;
}
.banner .swiper-pagination {
  text-align: left;
  padding: 5.6rem;
}

.btn-title {
  border-radius: 3px;
}

/*# sourceMappingURL=app.css.map */
