{{! header-top }}

<div class='header-top d-flex align-center'>
  <div class='container d-flex  align-center  justify-content-between'>
    <div class='header-top-logo d-flex align-center'>
      <img src='images/Black.jpg' />
      <h3>
        Friday
      </h3>
    </div>
    <div class='upto d-flex align-center'>
      <span class='upto-title'>
        Upto
      </span>
      <span class='upto-percent'>
        59%
      </span>
      <span class='upto-off'>
        OFF
      </span>
    </div>
    <button class='btn shop-now'>
      <a class='btn-title' href=''>
        <span>
          SHOP NOW
        </span>
        <img src='images/arrow-right.svg' />
      </a>
    </button>
  </div>
</div>
{{! ---- }}
{{!-- header center --}}
<div class='header-contact d-flex align-center'>
  <div class='container d-flex  align-center  justify-content-between'>
    <h3 class='header-contact-title'>
      Welcome to Clicon online eCommerce store.
    </h3>
    <div class='social d-flex align-center'>
      <span class='header-contact-title social-follow mr-12'>
        Follow us:
      </span>
      <img class='social-icon mr-12' src='images/Twitter.svg' />
      <img class='social-icon mr-12' src='images/Facebook.svg' />
      <img class='social-icon mr-12' src='images/Pinterest.svg' />
      <img class='social-icon mr-12' src='images/Reddit.svg' />
      <img class='social-icon mr-12' src='images/Youtube.svg' />
      <img class='social-icon ' src='images/Instagram.svg' />
      <div class='line'></div>
      <div class='language mr-12'>
        <span>
          Eng
        </span>
        <span>
          <img class='social-icon' src='images/CaretDown.svg' />
        </span>
      </div>
      <div class='currency'>
        <span>
          USD
        </span>
        <span>
          <img class='social-icon' src='images/CaretDown.svg' />
        </span>
      </div>
    </div>
  </div>
</div>
{{! ---- }}
{{!-- header--bottom --}}
<div class="header-bottom d-flex align-center">
  <div class='container d-flex  align-center  justify-content-between'>
    <div class="header-bottom-logo">
        <img src="images/Logo.png" />
    </div>
    <div class="header-bottom-search d-flex align-center justify-content-between">
      <input type="text" placeholder="Search for anything..." />
      <img src="images/MagnifyingGlass.svg" />
    </div>
     <div class="header-bottom-action">
        <div class="icon position-relative mr-24">
            <img src="images/cart.svg" />
            <div class="quantity d-flex align-center justify-content-center position-absolute">0</div>
        </div>
        <div class="icon mr-24">
            <img src="images/Heart.svg" />
        </div>
         <div class="icon">
            <img src="images/User.svg" />
        </div>
     </div>
  </div>
</div>
