<div class="mt-4">
    <form method="get" action="/news">
    <div class="form-group">
        <lable for="ExampleInputEmail" >Từ khoá</lable>
        <input type="text" name="Fullname">
        <input type="text" name="age">
        <input type="text" class="form-control" name="q" id="ExampleInputEmail" aria-describedby="EmailHello">   

    </div>
    
    <button type="Submit" class="btn btn-primary" >Tìm kiếm</button>
</form>
</div>
